---
title: "Posts by Category"
layout: categories-custom
permalink: /categories/
author_profile: true
---

<!-- <p> raw_tags: {{ rawtags }} </p>
<p> site_tags: {{ site_tags }} </p>

<p> raw_cats: {{ rawcats }} </p>
<p> site_categories: {{ site_categories }} </p> -->


{% comment %} 
<!-- {% include category-list.html %}
{% for category in site.categories %}
    <h3>{{ category }}</h3>
{% endfor %}

{% for category in site.categories %}
    <h3>{{ category[0] }}</h3>
    <ul>
        {% for post in category[1] %}
            <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endfor %} 
{% endcomment %}