---
title: "Posts by Tag"
permalink: /tags/
layout: tags
author_profile: true
---
{% comment %} 
<!-- {% include collecttags.html %} --> 

<!-- {% for doc in site.documents %} {{ doc.tags }} {% endfor %} -->

<!-- {% for post in site.posts %}
    A post: {{ post }}
{% endfor %}
{% for coll in site.collections  %} | where_exp: "item", "item.label" != "posts"
    {% if coll.label != 'posts' %}
        {% include documents-collection.html collection=coll.label %} 
    {% endif %}
{% endfor %}  -->


<!-- {% for collection in site.collections %}
    {% for page in collection.docs %}
        {% include tag-list.html %}
    {% endfor %}
{% endfor %}  -->
{% endcomment %}
