.btn--reddit {
    background-color: #ff4500;
    color: #fff
}

.btn--reddit:visited {
    background-color: #ff4500;
    color: #fff
}

.btn--reddit:hover {
    background-color: #cc3700;
    color: #fff
}